.body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border-radius: 2rem;
}
.textContainer {
  background-image: url("../public/rg.svg");
  background-size: initial;
  height: 400px;
  width: 70%;
  margin-top: 70px;
  padding-top: 150px;
  padding-left: 50px;
  background-color: #07003b;
  /* border: 2px solid #fff; */
  border-radius: 25px;
  /* box-sizing: border-box; */
}
.p {
  margin-top: -98px;
  padding-right: 50px;
  font-family: -apple-system, "DM Serif Text", serif;
  font-size: 28px;
  text-align: justify;
}
